	<% if (success) { %>
	<div><%= success %></div>
	<% } %>
	<% if (error) { %>
	<div><%= error %> </div>
	<% } %>
  </div>
</article>
<footer>

<span>Links:</span>
<a href="https://developer.mozilla.org/zh-CN/">MDN</a>|
<a href="https://github.io/">github</a>|
<a href="https://developers.google.cn/" title="cc">google开发者社区</a>
<br />
CopyRight <i class="fa fa-copyright fa-1x" aria-hidden="true"></i> 2017 By elsitlte
<br/>All right reserved
</footer>

